a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.spacer{
  flex: 1 1 auto;
}
.toolbar{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.humberger{
  background-color: black;
  color: white;
  margin-right: 2vh;
}
