.title{
  color: rgb(226, 67, 67);
  font-size: 25px;
}
.details{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
button{
  margin: 0.5rem;
}
mat-card-content{
  margin-left: 3vh;
}
mat-card{
  margin: 3vh;
}
